## Creating AddGroupFrequencyEncodingNode

In [1]:
import pandas as pd

In [9]:
df = pd.read_pickle(r'e:\Kaggle\Test\label_encoded_data.pkl')

In [10]:
df.shape

(1097231, 634)

In [29]:
def group_freq_enc(df,groupby=[],cols=[], count=True, freq=False):
    slice_df = df[groupby+cols]
    if len(groupby) == 1:
        gcname=groupby[0]
    else:
        gcname = "("+'+'.join(groupby)+")"

    for igc,gc in enumerate(groupby):
        if igc == 0:
            slice_df['group_col'] = slice_df[gc].astype(str)
        else:
            slice_df['group_col'] += '_'+slice_df[gc].astype(str)
    if freq:
        count = slice_df['group_col'].map(slice_df['group_col'].value_counts(dropna=False)) 
    for col in cols:
        tempdf = (slice_df['group_col']+'_'+slice_df[col].astype(str))
        tempdf = tempdf.map(tempdf.value_counts(dropna=False))
        df[f'{col}_count_groupby_{gcname}'] = tempdf
        if freq:
            df[f'{col}_count_groupby_{gcname}_freq'] = tempdf / count
    return df

# smalldf = df[df['new_card_id'].isin([100,101])][['new_card_id','DT_M','id_16']]
# smalldf = group_freq_enc(smalldf,groupby=['new_card_id','DT_M'],cols=['id_16'],freq=True)

In [30]:
smalldf

,new_card_id,DT_M,id_16,id_16_count_groupby_(new_card_id+DT_M),id_16_count_groupby_(new_card_id+DT_M)_freq
TransactionID,,,,,
2998121,100,12,0,2,1.0
2998221,101,12,0,7,1.0
3001072,101,12,0,7,1.0
3012544,101,12,0,7,1.0
3012755,101,12,0,7,1.0
3051323,101,12,0,7,1.0
3055371,100,12,0,2,1.0
3108315,101,12,0,7,1.0
3116264,101,12,0,7,1.0
3125021,101,13,0,3,1.0
3126923,100,13,0,3,1.0
3161551,101,13,0,3,1.0
3167649,100,13,0,3,1.0
3194709,101,13,0,3,1.0
3207930,100,13,0,3,1.0
3218710,101,14,0,2,1.0
3251142,100,14,0,2,1.0
3263918,101,14,0,2,1.0
3293176,100,14,0,2,1.0
3312610,101,15,0,3,1.0
3342848,100,15,0,2,1.0
3357267,101,15,0,3,1.0
3360410,100,15,0,2,1.0
3392450,101,15,0,3,1.0
3405466,101,16,0,3,1.0
3428502,100,16,0,3,1.0
3441833,101,16,0,3,1.0
3449188,100,16,0,3,1.0
3465965,100,16,0,3,1.0
3475523,101,16,0,3,1.0
3490560,101,17,0,3,1.0
3532671,101,17,0,3,1.0
3555496,101,17,0,3,1.0
3575904,101,18,0,1,1.0
3664283,101,19,0,3,1.0
3695511,101,19,0,3,1.0
3725458,101,19,0,3,1.0
3743167,101,20,0,3,1.0
3780834,101,20,0,3,1.0
3795251,101,20,0,3,1.0
3822436,101,21,0,3,1.0
3854613,101,21,0,3,1.0
3878548,101,21,0,3,1.0
3891743,101,22,0,3,1.0
3930873,101,22,0,3,1.0
3951290,101,22,0,3,1.0
3970441,101,23,0,3,1.0
4014218,101,23,0,3,1.0
4045688,101,23,0,3,1.0
4056466,101,24,0,4,1.0
4118044,101,24,0,4,1.0
4119525,101,24,0,4,1.0
4157125,101,24,0,4,1.0