## Creating AddGroupNumericalAggregateNode

In [1]:
import pandas as pd

In [11]:
df = pd.read_pickle(r'e:\Kaggle\Test\label_encoded_data.pkl')

In [3]:
df.shape

(1097231, 634)

In [24]:
df = df[df['new_card_id'].isin([1000,1001])][['new_card_id','DT_M','TransactionAmt']]

In [25]:
df

               new_card_id  DT_M  TransactionAmt
TransactionID
3079878               1000    12      175.250000
3079885               1000    12      175.250000
3080799               1001    12       39.993999
3138668               1001    13       29.850000
3148417               1000    13       14.750000
3241908               1000    14       24.469999
3754823               1001    20       47.032001
4045062               1000    23       15.370000

In [31]:
def group_numerical_aggregate(df,groupby=[],cols=[], to_mean=True, to_std=True,to_minmax=False, to_std_score=False):
    slice_df = df[groupby+cols]
    if len(groupby) == 1:
        gcname=groupby[0]
    else:
        gcname = "("+'+'.join(groupby)+")"

    for igc,gc in enumerate(groupby):
        if igc == 0:
            slice_df['group_col'] = slice_df[gc].astype(str)
        else:
            slice_df['group_col'] += '_'+slice_df[gc].astype(str)

    for col in cols:
        group_col = slice_df.groupby(['group_col'])[col]
        dmean = group_col.transform('mean')
        dstd = group_col.transform('std').replace(-np.inf, np.nan).replace(np.inf, np.nan)        
        if to_mean:
            df[f'{col}_to_mean_groupby_{gcname}'] = (slice_df[col] / dmean).astype(np.float32)
            
        if to_std:
            df[f'{col}_to_std_groupby_{gcname}'] = (slice_df[col] / dstd).replace({np.inf:0,-np.inf:0,np.nan:0}).astype(np.float32)
            
        if to_minmax:
            dmin =  group_col.transform('min')
            dmax =  group_col.transform('max')
            df[f'{col}_to_minmax_groupby_{gcname}'] = ((slice_df[col] - dmin) / (dmax-dmin)).replace({np.inf:0,-np.inf:0,np.nan:0}).astype(np.float32)

        if to_std_score:
            df[f'{col}_to_stdscore_groupby_{gcname}'] = ((slice_df[col] - dmean) / dstd).replace({np.inf:0,-np.inf:0,np.nan:0}).astype(np.float32)
            
            
    return df


df = group_numerical_aggregate(df,groupby=['new_card_id','DT_M'],cols=['TransactionAmt'],to_minmax=True, to_std_score=True)

c:\python37\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
c:\python37\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [32]:
df

,new_card_id,DT_M,TransactionAmt,TransactionAmt_to_mean_groupby_new_card_id,TransactionAmt_to_std_groupby_new_card_id,TransactionAmt_to_minmax_groupby_new_card_id,TransactionAmt_to_stdscore_groupby_new_card_id,TransactionAmt_to_mean_groupby_(new_card_id+DT_M),TransactionAmt_to_std_groupby_(new_card_id+DT_M),TransactionAmt_to_minmax_groupby_(new_card_id+DT_M),TransactionAmt_to_stdscore_groupby_(new_card_id+DT_M)
TransactionID,,,,,,,,,,,
3079878,1000,12,175.250000,2.163100,2.035243,1.000000,1.094351,1.0,0.0,0.0,0.0
3079885,1000,12,175.250000,2.163100,2.035243,1.000000,1.094351,1.0,0.0,0.0,0.0
3080799,1001,12,39.993999,1.026575,4.630188,0.590385,0.119862,1.0,0.0,0.0,0.0
3138668,1001,13,29.850000,0.766197,3.455796,0.000000,-1.054529,1.0,0.0,0.0,0.0
3148417,1000,13,14.750000,0.182058,0.171297,0.000000,-0.769595,1.0,0.0,0.0,0.0
3241908,1000,14,24.469999,0.302032,0.284179,0.060561,-0.656713,1.0,0.0,0.0,0.0
3754823,1001,20,47.032001,1.207228,5.444992,1.000000,0.934666,1.0,0.0,0.0,0.0
4045062,1000,23,15.370000,0.189711,0.178497,0.003863,-0.762394,1.0,0.0,0.0,0.0