In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
main_dir = r'../../..'
data_path = main_dir+'/data'
import sys
sys.path.append(main_dir)
from BayDS.lib.pipeline import *

In [3]:
from typing import List, Set, Dict, Optional, Any, Tuple, Type, Union
from BayDS.lib.io import *
import os

In [13]:
data_dir =f'{main_dir}/Snapshots/1/99'
input_dir = f'{main_dir}/Data'

p = Pipeline(working_folder=f'{main_dir}/Snapshots/1/NewId')


# p.add_node(IEEEFraudTransactionLoaderNode, None, 'transactions',
#            params={
#                'input_directory': input_dir
#            })

p.add_node(LoaderNode, None, 'data',
           params={
               'input_directory': data_dir,
               'file': 'data.pkl'
           })
p.add_node(LoaderNode, None, 'numerical_columns',
           params={
               'input_directory': data_dir,
               'file': 'numerical_columns.yaml'
           })
p.add_node(LoaderNode, None, 'categorical_columns',
           params={
               'input_directory': data_dir,
               'file': 'categorical_columns.yaml'
           })

p.add_node(LoaderNode, None, 'new_id',
           params={
               'input_directory': f'{main_dir}/Snapshots/1/Analyses',
               'file': 'new_id.pkl'
           })

p.add_node(JoinNode, ('data','new_id'), 'data',
          params={
                   'on': 'TransactionID'
               })
# p.add_node(AddTemporalAggregates, input_key=('data', 'numerical_columns', 'categorical_columns'),
#            output_key='TransactionAmt_Agg',
#            params={
#                'features':['TransactionAmt'],
#                'group_by':"new_card_id"
#            })

p.add_node(AddTemporalAggregates, input_key=('data', 'numerical_columns', 'categorical_columns'),
           output_key='C5_Agg',
           params={
               'features':['C5'],
               'group_by':"new_card_id"
           })

p.add_node(AddTemporalAggregates, input_key=('data', 'numerical_columns', 'categorical_columns'),
           output_key='C8_Agg',
           params={
               'features':['C8'],
               'group_by':"new_card_id"
           })

# p.add_node(LoaderNode, None, 'categorical_columns',
#            params={
#                'input_directory': data_dir,
#                'file': 'categorical_columns.yaml'
#            })
p.save()
p.run(verbose=True)

p.save_data()

---------------------------
0: LoaderNode [2019-09-21 20:33:17]
params:
 {'input_directory': '../../../Snapshots/1/99', 'file': 'data.pkl'}
---------------------------
1: LoaderNode [2019-09-21 20:33:29]
params:
 {'input_directory': '../../../Snapshots/1/99', 'file': 'numerical_columns.yaml'}
---------------------------
2: LoaderNode [2019-09-21 20:33:30]
params:
 {'input_directory': '../../../Snapshots/1/99', 'file': 'categorical_columns.yaml'}
---------------------------
3: LoaderNode [2019-09-21 20:33:30]
params:
 {'input_directory': '../../../Snapshots/1/Analyses', 'file': 'new_id.pkl'}
---------------------------
4: JoinNode [2019-09-21 20:33:30]
params:
 {'on': 'TransactionID'}
---------------------------
5: AddTemporalAggregates [2019-09-21 20:34:31]
params:
 {'features': ['C5'], 'group_by': 'new_card_id'}
C5
.
.
.
.
.
.
.
.
---------------------------
6: AddTemporalAggregates [2019-09-21 20:40:45]
params:
 {'features': ['C8'], 'group_by': 'new_card_id'}
C8
.
.
.
.
.
.
.
.
Saving data

MemoryError:

In [15]:
del p.data['data']

In [16]:
p.save_data()

Saving numerical_columns
Saving categorical_columns
Saving new_id
Saving C5_Agg
Saving C8_Agg

In [18]:
p.data['C5_Agg']

,C5_by_new_card_id_ws1d_to_mean,C5_by_new_card_id_ws1d_to_std,C5_by_new_card_id_ws2d_to_mean,C5_by_new_card_id_ws2d_to_std,C5_by_new_card_id_ws3d_to_mean,C5_by_new_card_id_ws3d_to_std,C5_by_new_card_id_ws7d_to_mean,C5_by_new_card_id_ws7d_to_std,C5_by_new_card_id_ws30d_to_mean,C5_by_new_card_id_ws30d_to_std,C5_by_new_card_id_ws5_to_mean,C5_by_new_card_id_ws5_to_std,C5_by_new_card_id_ws10_to_mean,C5_by_new_card_id_ws10_to_std,C5_by_new_card_id_ws100_to_mean,C5_by_new_card_id_ws100_to_std
TransactionID,,,,,,,,,,,,,,,,
2987000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4170235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4170236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4170237,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4170238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4170239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN